@tailwind base;
@tailwind components;
@tailwind utilities;
 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 

 
.test {
  border: 1px solid red;
}
 


/* Applies to WebKit browsers (Chrome, Edge, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #999;
}

/* Firefox support */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #c0c0c0 #f0f0f0;
}


 
 